* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif; /* Set your preferred font */
}

body{
    /* background-color: rgba(237, 243, 247, 1); */
    margin: 0;
    background-color: rgb(227, 241, 251);
}

.containerofall{
   display: table;
   width: 100%;
   float: left;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   grid-template-rows: 100px 100px 100px;
}


.navbar{
    
    background-color: rgba(96, 139, 193, 1);
    height:160px ;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 0;
    border: 1px solid black;
    box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
    /* grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px; */
    grid-column-start: 1;
    grid-column-end: 5;
}

/* .img{
    width:40px;
    height:20px;
} */
 .logo img{
    height: 120px;
    width: 220px;
    left: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
   
 }

.search input{
   padding: 10px;
   padding-left: 60px;
   padding-right: 60px;
   position: relative; 
   border-radius:20px;
   border: 2px solid rgba(19, 62, 135, 1);
   text-align:left;
   background-color: rgba(251, 253, 255, 0.66);
   grid-column-start: 2;
    grid-column-end: 3;
   
}


.fa-solid fa-magnifying-glass{
    position: absolute;
    right: 25px;
    grid-column-start: 2;
    grid-column-end: 3;

}

.filter-button button{
    background-color: rgba(19, 62, 135, 1);
    border-radius: 20px;
    border: 2px solid black;
    padding-left:25px;
    padding-right: 25px;
    padding-bottom: 6px;
    padding-top:6px ;
    font-size: 20px;
    color: white;
    grid-column-start: 3;
    grid-column-end: 4;

}
.add-btn{
    width: 30%;
    height: 50px;
    background-color: #608BC1;
    border: none;
    color: white;
    margin-top: 20px;
    /* align-self: center;
    left: 70px; */
    align-items:center;
    grid-column-start: 4;
    grid-column-end: 5; 
    margin-left: 40%;
    border-radius: 30px;

    
}
.add-btn:hover{
    background-color:rgb(138, 197, 248);
}

.cards-container{
    border: 2px solid blue;
    margin: 20px;
    /* width: 50%; */
    display: grid;
    
    
}

.todo-card{
   
   /* border: 2px solid red ; */
   padding: 50px;
   width: 30% ;
   background-color:rgb(226, 240, 249);
   display: flex;
   flex-direction: column;
   gap: 20px ;
   
}

.todo{
    font-size: 30px;
}

.tache{
    /* border: 3px solid rgb(1, 20, 76); */
    box-shadow: 0 0 10px rgba(0, 0,0, 0.4);
    /* padding: 50px ; */
    padding-left: 10px;
    /* padding-right: 20px; */
    padding-bottom: 70px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: white;
}

.title{
    font-size: 20px;
    color: black
}


.line{
    top: 0;
    width: 200px;
    height:10px ;
    background-color: red;
    border-radius: 30px;
    margin-bottom: 10px;
    /* border: 2px solid black; */
}
/* 
.tache input {
    background-color: rgb(228, 225, 225);
    color:#608BC1
} */


