* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif; /* Set your preferred font */
}

body{
    /* background-color: rgba(237, 243, 247, 1); */
    background-color: rgb(227, 241, 251);
    display: flex;
    justify-content: center;
   
    position: relative;
    
}

.containerofall{

   display: table;
   width: 100%;
   height: 100%;
   float: left;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   grid-template-rows: 100px 100px 100px;
   position: relative;
}


.navbar{

    background-color: rgba(96, 139, 193, 1);
    height:160px ;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    top: 0;
    border: 1px solid black;
    box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
    /* grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px; */
    grid-column-start: 1;
    grid-column-end: 5;
}

/* .img{
    width:40px;
    height:20px;
} */
 .logo img{
    height: 120px;
    width: 220px;
    left: 10px;
    grid-column-start: 1;
    grid-column-end: 2;

 }

.search input{
   padding: 10px;
   padding-left: 60px;
   padding-right: 60px;
   position: relative;
   border-radius:20px;
   border: 2px solid rgba(19, 62, 135, 1);
   text-align:left;
   background-color: rgba(251, 253, 255, 0.66);
   grid-column-start: 2;
    grid-column-end: 3;

}


.fa-solid fa-magnifying-glass{
    position: absolute;
    right: 25px;
    grid-column-start: 2;
    grid-column-end: 3;

}

.filter-button button{
    background-color: rgba(19, 62, 135, 1);
    border-radius: 20px;
    border: 2px solid black;
    padding-left:25px;
    padding-right: 25px;
    padding-bottom: 6px;
    padding-top:6px ;
    font-size: 20px;
    color: white;
    grid-column-start: 3;
    grid-column-end: 4;

}
.add-btn{
    width: 30%;
    height: 50px;
    background-color: #608BC1;
    border: none;
    color: white;
    margin-top: 20px;
    /* align-self: center;
    left: 70px; */
    align-items:center;
    grid-column-start: 4;
    grid-column-end: 5;
    margin-left: 35%;
    border-radius: 30px;


}
.add-btn:hover{
    background-color:rgb(138, 197, 248);
}

.cards-container{
    /* border: 2px solid blue; */
    margin: 20px;
    display: grid;
    justify-content: space-evenly;
    gap: 60px ;
    padding-top: 20px;
    grid-template-columns: 300px 300px 300px ;
    grid-template-rows: 400px 400px;
   


}

.todo-card{
    height: auto;
    border-radius:15px ;
    padding: 16px 40px  ;
   width: 100%;
   background-color: rgb(227, 241, 251);
   grid-column-start:1;
   grid-column-end:2;
 
}


.doing-card{
    height: auto;
    border-radius:15px ;
    padding: 16px 40px;
   width: 100%;
   background-color: rgb(227, 241, 251);
   display: flex;
   flex-direction: column;
   gap: 20px ;
   grid-column-start: 2;
   grid-column-end:3;
   padding-bottom: 50px;
}



.todo{
    font-size: 30px;
}

.tache{
    box-shadow: 0 0 10px rgba(0, 0,0, 0.4);
    padding-left: 10px;
    padding-bottom: 50px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
    
   
}

.done-card{
    height: auto;
    border-radius:15px ;
    padding: 16px 40px ;
    padding-bottom: 50px;
    width: 100%;
    background-color: rgb(227, 241, 251);
    display: flex;
    flex-direction: column;
    grid-column-start:3;
    grid-column-end:4;
} 


.tache-icon{
  display: flex;
  flex-direction: column;
  justify-content :space-between;
}
#btn:hover{
    color: grey;
}
.title{
    font-size: 20px;
    color: black
}


 .line{
    top: 0;
    width: 100px;
    height:10px ;
    background-color: red;
    border-radius: 30px;
    margin-bottom: 10px;

}

.form{
   border-radius: 20px ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color:rgb(216, 226, 231);
   width: 500px;
   height: 450px;
   border: 2px solid black;
   gap: 10px;
  
}

.form-container{
    display: none;
    position: absolute;
    z-index: 999;
    align-self: center;
}


#title{
    border-radius: 20px;
    padding: 20px;
    background-color:white;
    border: 2px solid rgba(1, 48, 80, 0.937);
    margin: 20px;

}

#description{
    padding: 40px;
    background-color: white;
    border: 2px solid rgba(1, 48, 80, 0.937);
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 20px;
}

#date{
    padding: 8px;
    background-color: white;
    border: 2px solid rgba(1, 48, 80, 0.937);
    width: 40%;
    align-self: center;
    border-radius: 20px;
    margin-bottom: 20px;
}


.select{
    display: flex;
    justify-content: space-around;
    margin-bottom:15px;
    
}


.exit{
    display: flex;
    justify-content: end;
}


.exit i{
    font-size: 40px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
}

.exit i:hover{
    color: rgb(246, 38, 38);
}

.statut{
    background-color: rgb(148, 148, 155);
    padding: 10px;
    border: 2px solid rgb(59, 2, 48);
    border-radius: 15px;
}

.statut:hover{
    background-color: rgb(208, 208, 210);
}

.priority{
    background-color: rgb(148, 148, 155);
    padding: 10px;
    border: 2px solid rgb(59, 2, 48);
    border-radius: 15px;
}
#priority{
    background-color: rgb(208, 208, 210);
}

#submit{
    background-color:  rgb(178, 178, 178);
    padding: 10px;
    /* border: 2px solid rgb(59, 2, 48); */
    border-radius: 15px;
    
}
#submit:hover{
    background-color: red;
}

.buttons{
    display: flex;
    justify-content: space-around;
}
.edit-trash {
    display: flex;
    justify-content: space-around;
}

.form-edit{
   
    display: none;
    position: absolute;
    z-index: 999;
    align-self: center;
}

#title-edit{
    border-radius: 20px;
    padding: 20px;
    background-color:white;
    border: 2px solid rgba(1, 48, 80, 0.937);
    margin: 20px;

}

#description-edit{
    padding: 40px;
    background-color: white;
    border: 2px solid rgba(1, 48, 80, 0.937);
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 20px;
}

#date-edit{
    padding: 8px;
    background-color: white;
    border: 2px solid rgba(1, 48, 80, 0.937);
    width: 40%;
    align-self: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.exit-edit{
    display: flex;
    justify-content: end;
}


.exit-edit i{
    font-size: 40px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
}

.exit-edit i:hover{
    color: rgb(246, 38, 38);
}
 

/* ********************************************************** details ***************************************************** */
#task-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

